/*APLICAÇÕES GERAIS NO LAYOUT + GRID APLICADO NO CABEÇALHO, CONTEUDO, E BODY*/

body{
    background: #051D3B;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo";
    grid-template-columns: auto;
    grid-template-rows: 128px 100vh;
    margin: 0 32px;
    font-family: Inter;
}



.cabecalho{
    grid-area: cabecalho;
    display: grid;
    grid-template-columns: 23% 54% 23%;
    margin-top: 32px;
}

.conteudo{
    grid-area: conteudo;
    display: grid;
    grid-template-columns: 23% 56% 20%;
    height: 100vh;
}








/*SESSÃO CABEÇALHO - PARTE SUPERIOR DA PÁGINA*/

.header-logo{
    margin-top: 12px;
}

.imagem-lupa, .imagem-menu-barras, .images-mobile-icons{
    display: none;
}

.header-search-bar{
    width: 99%;
    height: 56px;
    border-radius: 8px;
    padding-left: 14px;
    background: #2D415B;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.header-container-icon{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 12px;
}

.header-icon{
    margin-right: 8px
}

.header-span{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.header-ancora-icone-perfil{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}










/*SESSÃO MENU - LADO ESQUERDO DA PÁGINA*/


.menu-name{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.div-editor{
    margin-top: 16px;
    display: flex;
    align-items: center;
}


.ancora-editor{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.name-editor{
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.div-comunidade{
    margin-top: 16px;
    display: flex;
    align-items: center;
}


.ancora-comunidade{
    display: flex;
    align-items: center;
    text-decoration: none;
}


.name-comunidade{
    margin-left: 16px;
    opacity: 0.56;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}









/*SESSÃO TEXTAREA | PARTE PRINCIPAL / MEIO DA PÁGINA*/



.div-textarea{
    display: flex;
    padding: 32px;
    background: #6BD1FF;
    border-radius: 8px;
    width: 89%;
}


.textarea{
    border: none;
    border-radius: 8px;
    resize: none;
    width: 100%;
    height: 302px;
    background: #141414;
    color: #FFFFFF;
    padding: 50px 16px 0 16px;
}

.circles{
    display: flex;
    position: absolute;
}


.circle-red{
    width: 12px;
    height: 12px;
    background: #FF5F56;
    border-radius: 8px;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 8px;
}

.circle-yellow{
    width: 12px;
    height: 12px;
    background: #FFBD2E;
    border-radius: 8px;
    margin-top: 16px;
    margin-right: 8px;
}

.circle-green{
    width: 12px;
    height: 12px;
    background: #27C93F;
    border-radius: 8px;
    margin-top: 16px;
}



.highlight{
    width: 97%;
    height: 56px;
    border-radius: 8px;
    margin-top: 32px;
    background: rgba(80, 129, 251, 0.08);
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}









/* SESSÃO SEU PROJETO | LADO DIREITO DA PÁGINA*/


.section-seu-projeto{
    margin-left: 20px;
}


.h2-your-project{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.input-name-project{
    width: 100%;
    height: 56px;
    margin: 16px 0;
    border-radius: 8px;
    border: none;
    padding-left: 14px;
    font-size: 16px;
    line-height: 24px;
    background: #2D415B;
    color: #FFFFFF;
}


.input-description-project{
    width: 100%;
    height: 64px;
    border-radius: 8px;
    padding-left: 14px;
    padding-bottom: 16px;
    background: #2D415B;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


.div-personalização{
    margin-top: 40px;
}


.h2-personalização{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.select-code{
    width: 108%;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 14px;
    border: none;
    background: #2D415B;
    color: #FFFFFF;
    opacity: 0.64;
    cursor: pointer;
}


.rect-blue{
    width: 108%;
    border-radius: 8px;
    padding: 5px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 32px;
    background: #051D3B; 
    border: 1px solid #FFFFFF;
}

.button-save-project{
    background: #5081FB;
    border-radius: 8px;
    width: 109%;
    border: none;
    color: #051D3B;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    height: 56px;
    cursor: pointer;
}




/*MEDIA QUERY - ADAPTAÇÃO PARA MOBILE*/

@media (max-width:768px){
    body{
        display: block;
        margin: 0;
    }

    .cabecalho{
        display: flex;
        margin: 27px 30px 50px 16px
    }

    .conteudo{
        display: block;
    }

    .header-form-search-bar, .header-container-icon, .main-div-menu, .section-seu-projeto{
        display: none;
    }

    .images-mobile-icons{
        display: flex;
        width: 100%;
        justify-content: end;
        margin-top: 14px;
    }

    .imagem-lupa{
        display: flex;
        margin-right: 25px;
    }


    .imagem-menu-barras{
        display: flex;
    }

    .section-editor-codigo{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
    }

    .section-seu-projeto{
        display: flex;
        flex-direction: column;
        margin-top: 366%;
        margin-left: 0;
        width: 143%;
        align-items: flex-start;
        position: relative;
        right: 40%;
    }

    .div-textarea{
        margin: 0px 16px 32px 16px;
        width: auto;
    }

    .vizualizar-highlight{
        width: 98%;
        margin-left: 16px
    }

    .highlight{
        margin-top: 0px;
        width: 95%;

    }

    .input-name-project{
        width: 129%;
    }

    .input-description-project{
        width: 130%;
    }

    .select-code{
        width: 166%;
    }

    .rect-blue{
        width: 166%;
    }

    .button-save-project{
        width: 166%;
    }
}